.cora-overlay {
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999 !important;
}

.cora-can-extract {
  z-index: 9999999999999 !important;
  position: absolute;
  background: #fafafa;
  padding: 10px 40px 10px 10px;
  border: 2px dashed #DE5833;
  overflow: hidden;
}

.cora-can-extract .content {
  padding: 5px 10px;
}

.cora-can-extract .check {
  position: absolute;
  background: #e2e2e2;
  padding: 7px 10px;
  height: 100%;
  right: 0;
  top: 0;
  line-height: 38px;
}

.cora-can-extract input[type="checkbox"] {
  height: 15px;
  width: 15px;
}